= form_for @video_job do |f|
  - if @video_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video_job.errors.count, "error")} prohibited this video_job from being saved:"
      %ul
        - @video_job.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
