%h1 Listing videos

%table
  %tr
    %th
    %th
      Key
    %th
      Name
    %th
      Email
    %th
      Youtube URL
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td
        = image_tag(video.thumb_url, width: 89, height: 68)
      %td
        = video.key
      %td
        = video.name
      %td
        = link_to video.email, "mailto:"+video.email if video.email
      %td
        = link_to 'youtube url', video.youtube_url
      %td= link_to 'Show', video
      %td= link_to 'Edit', edit_video_path(video)
      %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Video', new_video_path