%p#notice= notice
- video = @video

= video.youtube_embed.html_safe

.container

  %table
    %tr
      %th{colspan: 2}
        Identifiers
    %tr
      %th
        Key:
      %td
        = video.key
    %tr
      %th{colspan: 2}
        Associated Owner
    %tr
      %th
        Name:
      %td
        = video.name
      %thv
        Email:
      %td
        = video.email
    %tr
      %th{colspan: 2}
        Share & Embed URLs
    %tr
      %th
        Thumbnail:
      %td
        = video.thumb_url
      %th
        Youtube URL:
      %td
        = video.youtube_url
      %th
        Youtube Embed
      %td
        = video.youtube_embed
    %tr
      %th{colspan: 2}
        Raw API Data
    %tr
      %th
        RAW JSON Object:
      %td
        = video.youtube_object
      %th
        Formatted JSON Oject:
      %td
        = video.prettyprint_json

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
