#video-submissions, #steps_count, #steps_form, .video-script, #steps-detail, #nav, nav, #top-carousel, #email-list, #endorsements, .flexslider, footer, .endorsement, .success, .error, #wizard, #grit {
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
#executive-summary {
  .heading-l {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.heading-l + .post-content {
  margin-top: 0;
  border-bottom: 4px solid #a91515;
  border-radius: 5px;
}
#video-submissions {
  max-width: 350px;
  margin: 20px auto;
  #steps_form {
    border: none;
    border-bottom: 4px solid #a91515;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #steps_count > li, #steps_form > li {
    width: 100% !important;
  }
  .steps_count li:after, .steps_count li:before {
    display: none !important;
  }
  .steps_count {
    background-image: none;
    background-color: #f3f3f3;
    border-bottom: 2px solid #b9b9b9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    li {
      padding: 10px;
      background: none !important;
      span {
        font-weight: 400;
      }
    }
  }
  
}
#video-submissions .video-script {
  display: inline;
  font-size: 16px;
  line-height: 26px;
  color: #555;
}
#video-submissions #grit {
  margin-right: 15px;
}


#steps_form.steps_detail {
  padding: 0;
  li, li:first-child {
    padding: 30px !important;
    h3 {
      text-align: left;
    }
    input.input_Form, button.next {
      width: 100%;
      display: block;
    }
  }
}

#nav .navbar.navbar-inverse {
  border: none; 
}
#nav .navbar-brand {
  height: 52px;
}

.flexslider {
  border: none;
}
.flex-control-nav, .flex-direction-nav {
  display: none !important;
}
#top-carousel {
  margin-top: 70px;
  margin-bottom: 20px;
}

#email-list {
  display: flex;
}
#email-list .inner-wrap {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
  h3 {
    font-size: 28px;
  }
  form {
    width: 400px;
    padding: 10px 0 25px 0;
    margin: auto;
    border: 0;
    input {
      font-size: 20px;
      padding: 10px;
    }
    input[type="email"] {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    input[type="submit"] {
      background-color: #a91515;
      color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

footer#footer {
  background-color: #555;
  padding-top: 15px;
  margin-top: 40px;
  h4 {
    text-align:center;
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li > a {
      text-align: center;
      display:block;
    }
  }
}

#endorsements .flexslider {
  padding: 20px 50px;
  margin-bottom: 0;
  li {
    display:block;
    vertical-align:middle;
  }
}

.endorsement {
  font-size: 24px;
  color: #999;
  text-align: justify;
}
.credit {
  font-size: 18px;
  color: #444;
}

body {
  margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.header-image {
  background: image-url('headbg1.jpg') no-repeat center 75%;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
  height: auto;
  display: block;
  width: 100%;
  text-align: center;
}
.header-image .intro-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
}
.header-image p, h1 {
  color: #ccc;
}

.headline {
  padding: 120px 0;
}

.headline > .container > h1 {
  font-size: 130px;
}

.headline > .container > h2 {
  font-size: 77px;
}
.headline > .container > p {
  font-size: 18px;
}

.featurette-divider {
  margin: 80px 0;
}
.featurette {
  overflow: hidden; 
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {
  
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}