= render partial: 'layouts/carousel'
/ .header-image
/   .headline
/     .container.intro-text
/       %h1 #thisisgrit
/       :markdown
/         The Obama Administration, early in 2013, challenged a national gathering of students to marshall their creativity and resourcefulness to help bolster the issues of student access and success.  One of the teams responding to the call is **#ThisIsGRIT**.  Their driving message to students is: a good education takes more than intelligence, its takes **#GRIT**.

/         What is **#GRIT** exactly?  Its the ability to persevere, to push through hurdles of all types.  Its resolving to prevail and deciding to never quit.  Each of us who have navigated the path through collegiate experiences, and on to professional achievement have a story, or two, or three of how #GRIT got us through hardships and to our goals.  We'd like for you to share one of your **#GRIT** stories, so that students everywhere can be encouraged around this very important element in the formula of success.
/       %a.btn.btn-large.btn-primary{href: '#submit'} Tell us your story
/       %a.btn.btn-large.btn-default{href: '#about'} Learn more
#content_area.container
  .content  

    %section#email-list
      .inner-wrap
        %h3 Sign up to receive our grit vitamin newsletter
        %link{href: "//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel: "stylesheet", type: "text/css"}
        .mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{action: "http://thisisgrit.us3.list-manage.com/subscribe/post?u=3f9f3e63bf50ec904da84ba16&amp;id=706f27106a", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: true}
            %input#mce-EmMAIL.email{type: "email", name: "EMAIL", placeholder: "email address", required: true}
            %input#mc-embedded-subscribe.button{type: "submit", value: "subscribe", name: "subscribe"}
            %div{style: "position: absolute; left: -5000px;"}
              %input{type: 'text', name: "b_3f9f3e63bf50ec904da84ba16_706f27106a"}
            .clear

    = render partial: "layouts/endorsements"

    = render partial: "layouts/videos"
    
  / %hr.featurette-divider

  / #about.featurette
  /   %img.featurette-image.img-circle.img-responsive.pull-right{src: 'http://placehold.it/500x500'}
  /   %h2.featurette-heading
  /     What is Grit?
  /   %p.lead
  /     Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  / %hr.featurette-divider

  / #submit.featurette
  /   .pull-left
  /     %camera#grit{'data-uuid' => '6c3ad9d0-4e6c-0131-0071-22000a499ea4'}
  /   / %img.featurette-image.img-circle.img-responsive.pull-left{src: 'http://placehold.it/500x500'}
  /   %h2.featurette-heading
  /     Video Submissions
  /   %h3
  /     Here is a script to help you if you get stuck - just fill in your own words:
  /   .script
  /     :markdown
  /       My name is **[name]**. In **[year]** I **[experience hardship that is education related]**. I **[extended description of hardship]**. 
        
  /       Instead of **[doing something passive and despairing]**, I decided to work harder at **[overcoming the hardship]** by **[activity]**. 
        
  /       I am now **[current status]**. This is Grit!

  / %hr.featurette-divider

  / #contact.featurette
  /   %img.featurette-image.img-circle.img-responsive.pull-right{src: 'http://placehold.it/500x500'}
  /   %h2.featurette-heading
  /     Contact Us
  /     %span.text-muted
  /       Tell us what you think!
  /   %p.lead
  /     Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  / %hr

  / %footer
  /   %p
  /     Copyright &copy; 2013