#content_area.container
  .content
    .jumbotron
      %h1
        \#thisisgrit videos

    %section#featured-videos
      .post-content
        .top_video_listing
          = render partial: "layouts/video", collection: @featured_videos, as: :video

    %hr
    
      .post-content
        .top_video_listing
          = render partial: "layouts/video", collection: @all_videos, as: :video


