#content_area.container
  .content
    .jumbotron
      %h1
        share your story

    %section#video-submissions
      
      %ul#steps_count.steps_count
        %li.step1
          Step 1:
          %span Tell Us Who You Are
        %li.step2{style: 'display:none;'}
          Step 2:
          %span Record Your Video
      %form#wizard{method: 'post', action: '#', name: 'steps_form'}
        %ul#steps_form.steps_detail
          %li.step1
            %input.input_Form{type: 'text', name: 'Name', placeholder: 'name'}
            %input.input_Form{type: 'email', name: 'Email', placeholder: 'email'}
            %button.next.btn.btn-default.btn-block Next &gt;
          %li.step2{style: 'display:none;'}
            %camera#grit.pull-left{'data-uuid' => '6c3ad9d0-4e6c-0131-0071-22000a499ea4'}
            .video-script
              :markdown
                My name is **[name]**. In **[year]** I **[experience hardship that is education related]**. I **[extended description of hardship]**. 
        
                Instead of **[doing something passive and despairing]**, I decided to work harder at **[overcoming the hardship]** by **[activity]**. 
        
                I am now **[current status]**. This is Grit!
      #alerts
        .success.alert.alert-success.alert-dismissable{style: 'display:none;'}
          %strong
            Success! 
          Thanks for your submission, it should be live on our 
          %a{href: ''}
            youtube channel 
          in a matter of moments, Thanks again!
        .error.alert.alert-error{style: 'display: none'}
          %strong
            Oops!
          It looks like there was an error, we've done our best to guess what the problem is, 
          %a.try-again{href: ''}
            click here 
          to continue.
