<!-- <section id="main-slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag('slides/duckworth.png') %>
      </li>
      <li>
        <%= image_tag('slides/duckworth.png') %>
      </li>
      <li>
        <%= image_tag('slides/duckworth.png') %>
      </li>
    </ul>
  </div>
</section> -->

<section id="top-carousel">
  <ul id="boutique">
    <!-- Frame with minimal setup: -->
    <li>
      <a href="">
        <%= image_tag 'slides/duckworth.png', alt: '', width: '677', height: '339' %>
      </a>
    </li>
    <li>
      <a href="">
        <%= image_tag 'slides/carols.jpg', alt: '', width: '403', height: '275' %>
      </a>
    </li>
    <li>
      <a href="">
        <%= image_tag 'slides/gritovergift.jpg', alt: '', width: '600', height: '427' %>
      </a>
    </li>
    <li>
      <a href="">
        <%= image_tag 'slides/grit.jpg', alt: '', width: '600', height: '400' %>
      </a>
    </li>
  </ul> 
</section>
