<section id="endorsements">
  <div class="heading-l">
    <h2>
      <span>Endorsements</span>
    </h2>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="endorsement">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed. Lorem ipsum dolor sit amet.
        </div>
        <span class="credit">-Some Wise Person</span>
      </li>
      <li>
        <div class="endorsement">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.
        </div>
        <span class="credit">-Some Wise Person</span>
      </li>
      <li>
        <div class="endorsement">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
        <span class="credit">-Some Wise Person</span>
      </li>
    </ul>
  </div>
</section>