-# navigation styled for Bootstrap 3.0
%nav#nav
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .nav-border
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '#thisisgrit', '/', class: 'navbar-brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'