%section#top-videos.top_videos
  .heading-l
    %h2
      %span Top Videos

  - for video in @videos

    .top_video_listing
      %figure.top_video.col-md-4
        .top_videos_img
          = image_tag("http://img.youtube.com/vi/#{video.key}/hqdefault.jpg")
          .hover_video
            %a{:href => "http://www.youtube.com/watch?v=#{video.key}", :class => 'light-video', 'data-gal' => 'prettyPhoto', :title => video.title}
            .player_like
              %span
                %i.fa.fa-eye-open
                = video.views
              %span
                %i.fa.fa-heart
                = video.likes
        %h4
          %a{href: "http://www.youtube.com/watch?v=#{video.key}"}
        .hover_video
          %a{:href => "http://www.youtube.com/watch?v=#{video.key}", :class => 'light-video', 'data-gal' => 'prettyPhoto', :title => 'Click to launch video'}
          .player_like
            %span
              %i.fa.fa-eye-open
              = video.views
            %span
              %i.fa.fa-heart
              = video.likes
  .clearfix