!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Grit'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'Grit'}"}
    %meta{name: 'author', content: ''}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//cameratag.com/1.9/cameratag.js"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'

    %main{role: "main"}
      = render 'layouts/messages'
      = yield
    = render partial: "layouts/footer"